* {
    box-sizing: border-box;
}

.main {
    display: flex;
    height: 100vh;
    max-width: 1940px;
    padding: 0 10px;
    margin: 0 auto;
}

.side-left {
    max-width: 320px;
    width: 100%;
    padding: 30px 25px 0 60px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.hr {
    width: 180px;
    border: 0.5px solid #a4acad;
    border-radius: 2px;
}

.nav__list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav__item {
    margin-bottom: 30px;
    padding-left: 40px;
    position: relative;

}

.nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url("./img/nav/drink.png");
    background-repeat: no-repeat;

}

.nav__shortly {
    position: absolute;
    background-color: #eb5757;
    right: -15px;
    top: 0;
    border-radius: 10px;
    padding: 0 5px;
    color: white;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
}

.nav__item__pizza::before {
    background-image: url("./img/nav/pizza.png");
}

.nav__item__set::before {
    background-image: url("./img/nav/Сеты.png");
}

.nav__item__wok::before {
    background-image: url("./img/nav/Вок.png");
}

.nav__item__roll::before {
    background-image: url("./img/nav/roll.png");
}

.nav__item__sushi::before {
    background-image: url("./img/nav/sushi.png");
}

.nav__item__salad::before {
    background-image: url("./img/nav/salad.png");
}

.nav__item__soup::before {
    background-image: url("./img/nav/soup.png");
}

.nav__item__corn_dog::before {
    background-image: url("./img/nav/kornD.png");
}

.nav__item__drink::before {
    background-image: url("./img/nav/drink.png");
}

.nav__item__sale::before {
    background-image: url("./img/nav/sale.png");
}

.nav__link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    color: #000;
}

.nav__item:hover .nav__link {
    color: #ff9846;
}

.side-right {
    max-width: 420px;
    width: 100%;
    background-color: yellow;
    padding: 55px 0 0 40px;
}


.content {
    flex-grow: 1;
    background-color: #f2f2f2;
}

.cart_inner {
    background-color: #f2f2f2;
    text-align: center;
    
}