* {
    box-sizing: border-box;
}

.main {
    display: flex;
    max-width: 1940px;
    padding: 0 10px;
}

.side-left {
    max-width: 320px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 30px;
    padding-left: 100px;
    padding-right: 25px;
    border: 1px solid red;

    height: 100vh;
}

.side-rigth {
    max-width: 320px;
    width: 100%;
    background-color: yellow;
}

.content {
    flex-grow: 1;
    background-color: #F2F2F2;
}

.logo__img {
    cursor: none;
}

.hr {
    width: 180px;
    border: 0.5px solid #a4acad;
    margin-top: 30px;
}

/* NAVIGATION */

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.nav__item {
    margin-bottom: 30px;
}

.nav__link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    text-decoration: none;
    color: black;
}

.nav__item:hover .nav__link {
    color: #ff9846;
}